:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Header */

header {
  width: 100%;
  background-color: var(--purple-bg);
  padding-top: 30px;
}

#container-header {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}

#navBar ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
#navBar ul li a {
  color: var(--white);
  font-size: 1.8rem;
}

#navBar ul li a:hover {
  color: orange;
  transition-duration: 0.3s;
}

#navBar ul li a:active {
  color: plum;
  transition-duration: 0.3s;
}

#btn-burger {
  display: none;
}

#searchBar {
  width: 30rem;
  height: 4.4rem;
  display: flex;
  background-color: var(--dark-bg);
  border-radius: 5px;
}

#searchBar input {
  height: 100%;
  background-color: var(--dark-bg);
  width: 23rem;
  color: var(--white);
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

#searchBar button {
  height: 100%;
  width: 7rem;
  background-color: var(--button-bg);
  border: 0;
  border-radius: 0 5px 5px 0;
}

#searchBar button:hover {
  background-color: #7f36b3;
  transition-duration: 0.3s;
}

#searchBar button:active {
  background-color: #63218f;
  transition-duration: 0.3s;
}

/* First Section ( Hero ) */

#hero {
  width: 100%;
  background-color: var(--purple-bg);
  height: 587px;
  padding: 100px;
  border-bottom: #4fff4b solid 6px;
}

#containerHero {
  display: flex;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

#text-1 h1 {
  font-size: 3.6rem;
  color: var(--white);
  max-width: 570px;
  color: var(--button-bg);
}

#text-1 p {
  color: var(--white);
  font-size: 1.8rem;
  margin: 2rem 0;
  max-width: 470px;
}

#text-1 a {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  color: var(--button-bg);
  font-weight: 700;
}

#text-1 a img {
  margin-top: 10px;
}

/* main */

/* Section 1 */

main {
  background-color: var(--light-purple);
  width: 100%;
}

#container-main {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#sectionPost-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 66rem;
  min-height: 660px;
  gap: 6rem;
  padding-top: 64px;
  align-items: center;
}

.thePosts {
  width: 57rem;
}

.thePosts p {
  font-size: 1.6rem;
}

.thePosts h2 {
  margin: 10px 0;
}

.thePosts h2 a {
  font-size: 2.4rem;
  color: var(--purple-bg);
}

.thePosts h2 a:hover {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

.thePosts h2 a:active {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

/* Section 2 */

#sectionPost-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.thePost-2 {
  flex-basis: 37rem;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.thePost-2 picture img {
  width: 100%;
  max-width: 370px;
}

.thePost-2 p {
  font-size: 1.4rem;
}

.thePost-2 h2 a {
  font-size: 2.4rem;
  color: var(--purple-bg);
}
