:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  width: 100%;
  background-color: var(--purple-bg);
  padding-top: 30px;
  padding-bottom: 10px;
}

#container-header {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}

#navBar ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
#navBar ul li a {
  color: var(--white);
  font-size: 1.8rem;
}

#navBar ul li a:hover {
  color: orange;
  transition-duration: 0.3s;
}

#navBar ul li a:active {
  color: plum;
  transition-duration: 0.3s;
}

#btn-burger {
  display: none;
}

#searchBar {
  width: 30rem;
  height: 4.4rem;
  display: flex;
  background-color: var(--dark-bg);
  border-radius: 5px;
}

#searchBar input {
  height: 100%;
  background-color: var(--dark-bg);
  width: 23rem;
  color: var(--white);
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

#searchBar button {
  height: 100%;
  width: 7rem;
  background-color: var(--button-bg);
  border: 0;
  border-radius: 0 5px 5px 0;
}

#searchBar button:hover {
  background-color: #7f36b3;
  transition-duration: 0.3s;
}

#searchBar button:active {
  background-color: #63218f;
  transition-duration: 0.3s;
}

/* First Section ( Hero ) */

#hero {
  width: 100%;
  background-color: var(--purple-bg);
  min-height: 587px;
  padding: 100px;
  border-bottom: #4fff4b solid 6px;
}

#containerHero {
  display: flex;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

#text-1 h1 {
  font-size: 3.6rem;
  color: var(--white);
  max-width: 570px;
  color: var(--button-bg);
}

#text-1 p {
  color: var(--white);
  font-size: 1.8rem;
  margin: 2rem 0;
  max-width: 470px;
}

#text-1 a {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  color: var(--button-bg);
  font-weight: 700;
}

#text-1 a img {
  margin-top: 10px;
}

#text-1 a:hover {
  transform: translateX(10px);
  transition-duration: 0.6s;
}

/* main */

/* Section 1 */

main {
  background-color: var(--light-purple);
  width: 100%;
}

#container-main {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#sectionPost-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 66rem;
  min-height: 660px;
  gap: 6rem;
  padding-top: 64px;
  align-items: center;
}

.thePosts {
  width: 57rem;
}

.thePosts p {
  font-size: 1.6rem;
}

.thePosts h2 {
  margin: 10px 0;
}

.thePosts h2 a {
  font-size: 2.4rem;
  color: var(--purple-bg);
}

.thePosts h2 a:hover {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

.thePosts h2 a:active {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

/* Section 2 */

#sectionPost-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
}

.thePost-2 {
  flex-basis: 37rem;
  gap: 18px;
  display: flex;
  flex-direction: column;
  /*  */
}

.thePost-2 p {
  font-size: 1.4rem;
  max-width: 370px;
}

.thePost-2 h2 a {
  font-size: 2.4rem;
  color: var(--purple-bg);
  max-width: 370px;
}

.thePost-2 h2 a:hover {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

.thePost-2 h2 a:active {
  color: rgb(165, 22, 22);
  transition: 0.3s;
}

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }

  #hero {
    padding: 20px;
  }

  #hero #containerHero {
    flex-direction: column;
    align-items: center;
  }

  #text-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #text-1 h1 {
    text-align: center;
  }

  #text-1 p {
    text-align: center;
  }

  #text-1 a {
    text-align: center;
  }

  #textImg {
    /* order: -1; */
    margin-top: 1rem;
  }
}

@media (max-width: 1280px) {
  #sectionPost-1 {
    flex-wrap: nowrap;
    height: auto;
  }
}

@media (max-width: 1250px) {
  #navBar ul,
  #searchBar {
    visibility: hidden;
    position: absolute;
  }

  #navBar {
    transition: 0.3s;
  }

  #btn-burger {
    display: flex;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    flex-direction: column;
    width: 40px;
  }

  #sectionPost-2 {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  #navBar.on ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    left: 0;
    top: 90px;
    gap: 0;
    background-color: var(--purple-bg);
    padding-top: 3rem;
  }

  #navBar.on ul li {
    padding: 10px 10px 10px 20px;
    border-bottom: var(--dark-bg) 2px solid;
  }

  #navBar.on ul li:last-child {
    border-bottom: none;
  }

  #navBar.on ul li:hover {
    background-color: #511979;
  }

  #navBar.on ul li:active {
    background-color: #511979;
  }

  #navBar.on ul li a {
    display: block;
  }

  #searchBar.on {
    visibility: visible;
    top: 80px;
    left: 0;
    width: 100vw;
    border-radius: 0;
    transition: 0.2s;
  }

  #searchBar.on input {
    width: 100%;
    border-radius: 0;
  }

  .btn-buger-chd {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.3s;
  }

  #navBar.on #bar-1 {
    transform: rotate(135deg);
    transition-duration: 0.3s;
  }

  #navBar.on #bar-2 {
    opacity: 0;
  }

  #navBar.on #bar-3 {
    transform: rotate(-135deg) translate(9px, 8px);
    transition-duration: 0.3s;
  }

  .thePost-2 {
    align-items: center;
    width: 90%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 45%;
  }

  #textImg img {
    width: 450px;
  }

  #sectionPost-1 picture img {
    width: 450px;
  }
}

@media (max-width: 590px) {
  html {
    font-size: 40%;
  }

  #textImg img {
    width: 350px;
  }

  #sectionPost-1 picture img {
    width: 350px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 36%;
  }

  #textImg img {
    width: 300px;
  }

  #sectionPost-1 picture img {
    width: 300px;
  }

  .thePost-2 img {
    width: 300px;
  }
}
